<% include views/template/header.ejs %>

<div class="page-content mtd-page-index">
    <!-- 1) Block list -->
    <div class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
            <h5><i class="far fa-compass"></i>&nbsp;&nbsp;SUMMARY</h5>
        </span>
        <a class="mdl-list__item-secondary-action" href="/summary"><button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--kaicoin"><i class="fas fa-angle-double-right"></i></button></a>
    </div>
    <div class="x-overflow">

        <div class="mtd-middle-top-wrapper">
            <table id="summary_table" class="mdl-data-table">
                <tr>
                    <th class="center">Blocks</th><th class="center">Transactions</th><th class="center">Peers</th>
                </tr>
                <tr>
                    <td class="center"><a href="/blocks"><%=Number(summary.blocks).toLocaleString()%></a></td>
                    <td class="center"><a href="/txs"><%=Number(txcount).toLocaleString()%></a></td>
                    <td class="center"><%=summary.connections%></td><!-- Addressed Count -->

                </tr>
                <tr>
                    <th class="center">Blocktime</th><th class="center">Difficulty</th><th class="center">Net Hash</th>
                </tr>
                <tr>
                    <td class="center"><%=summary['target-block-time']%>sec</td>
                    <td class="center"><%=Math.floor(summary.difficulty*10000)/10000%></td>
                    <td class="center"><%=Math.floor(summary.networkhashps/1024/1024*100)/100%>MH/s</td>
                </tr>
                </tbody>
            </table>
            <iframe id='widget-ticker-preview' src='//www.coingecko.com/en/widget_component/ticker/kaicoin/btc?id=kaicoin' style='border:none; height:125px; width: 275px;' scrolling='no' frameborder='0' allowTransparency='true'></iframe>
        </div>
    </div>

    <div class="section--center mdl-grid mdl-grid--no-spacing mtd-2-2div-header-wrapper">

        <!-- 1) Block list -->
        <div class="mdl-cell mdl-cell--6-col">
            <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <h5><i class="fab fa-codepen"></i>&nbsp;&nbsp;LATEST BLOCKS</h5>
                </span>
                <a class="mdl-list__item-secondary-action" href="/blocks"><button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--kaicoin"><i class="fas fa-angle-double-right"></i></button></a>
            </div>
            <div id="recent-blocks" class="mtd-main-recent-list">
                <table class="mdl-data-table mdl-js-data-table match-parent small-table">
                    <thead>
                    <tr>
                        <th>Height</th><th>Hash</th><th>TXNS</th>
                        <th class="confirm"><i class="fas fa-check"></i></th><th class="right">Size</th>
                        <th class="time">Time</th>
                    </tr>
                    </thead>
                    <tbody id="latest-blocks">
                    <% for(var i=0; i<blocks.length; i++) { %>
                    <tr>
                        <td class="center"><span class="label"><%=blocks[i].height%></span></td>
                        <td class="left-align hash mtd-work-break-ellipsis">
                            <a href="/block/<%=blocks[i].height%>"><%=blocks[i].hash%></a>
                        </td>
                        <td class="center">
                            <% if (blocks[i].txcount>1) { %>
                                <span class="label label-info"><%=blocks[i].txcount%></span>
                            <% } else { %>
                                <span class="label"><%=blocks[i].txcount%></span>
                            <% } %>
                        </td>
                        <td class="center confirm"><span class="label"><%=blocks[i].confirmations%></span></td>
                        <td><%=Number(blocks[i].size).toLocaleString()%></td>
                        <td class="left"><i class="fas fa-arrow-up"></i>&nbsp;<%=blocks[i].date%></td>
                    </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- 2) TX list -->
        <div class="mdl-cell mdl-cell--6-col">
            <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <h5><i class="far fa-paper-plane"></i>&nbsp;&nbsp;LATEST TRANSACTIONS</h5>
                </span>
                <a class="mdl-list__item-secondary-action" href="/txs"><button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--kaicoin"><i class="fas fa-angle-double-right"></i></button></a>
            </div>
            <div id="recent-txs" class="mtd-main-recent-list">
                <table class="mdl-data-table mdl-js-data-table match-parent small-table" style="border-left: 0;">
                    <thead>
                    <tr>
                        <th>Type</th><th>TX ID</th><th class="right">Am<span class="hide-under-small">oun</span>t</th>
                        <th class="confirm"><i class="fas fa-check"></i></th><th class="time">Time</th>
                    </tr>
                    </thead>
                    <tbody id="latest-transactions">
                    <% if(txcount<1) { %>
                    <tr>
                        <td colspan="5">TRANSACTIONS ARE NOT FOUND
                        </td>
                    </tr>
                    <% } else { %>
                        <% for(var i=0; i<txs.length; i++) { %>
                        <tr>
                            <td class="center">
                                <% if (txs[i].txtype==='mine') { %><span class="label"><%=txs[i].txtype%></span>
                                <% } else if (txs[i].txtype==='send') { %><span class="label label-primary"><%=txs[i].txtype%></span>
                                <% } else { %><span class="label label-success"><%=txs[i].txtype%></span><% } %>
                            </td>
                            <td class="left-align mtd-txs-cell-tx hash mtd-work-break-middle-ellipsis">
                                <a href="/tx/<%=txs[i].txid%>"><%=txs[i].txid%></a>
                                <br>
                                <!-- mine, memp, send -->
                                <div class="mtd-small-chars hide-under-small" style="line-height: 16px;overflow-x: hidden;">
                                    <% if (txs[i].from.length>0) { %><%=txs[i].from%><% } %>
                                    <i class="fas fa-arrow-right"></i> <%=txs[i].to%>
                                </div>
                            </td>
                            <td class="mtd-text-right" style="overflow-x: hidden; text-overflow: clip">
                                <%=txs[i].amount.split('.')[0]%>
                            </td>
                            <td class="center confirm"><span class="label"><%=txs[i].confirmations%></span></td>
                            <td class="left"><i class="fas fa-arrow-up"></i>&nbsp;<%=txs[i].date%></td>
                        </tr>
                        <% } %>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<% include views/template/footer.ejs %>
