<% include views/template/header.ejs %>

<main class="mdl-layout__content mtd-chain-content">

    <% include views/template/search_area.ejs %>

    <section class="section--center mdl-grid mdl-grid--no-spacing">

        <header class="mtd-section-summary mdl-cell mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone mdl-color-text--white">
        </header>

        <div class="mdl-card mdl-cell mdl-cell--10-col-desktop mdl-cell--10-col-tablet mdl-cell--10-col-phone">
            <div class="mdl-card__supporting-text">
                <h4>Blockchain Summary</h4>
                <table id="table-chain-main" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                    <tr>
                        <th>Testnet</th><th>Protocol Version</th><th>Wallet Ver.</th><th>Wallet DB Ver.</th><th>Burn Address</th><th>Relay Fee</th><th>Pay TX Fee</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><%=item.testnet%></td>
                        <td><%=item.protocolversion%></td>
                        <td><%=item.walletversion%></td>
                        <td><%=item.walletdbversion%></td>
                        <td><%=item.burnaddress%></td>
                        <td><%=item.relayfee%></td>
                        <td><%=item.paytxfee%></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="mdl-card__supporting-text">
                <h4>Blockchain Parameters</h4>
                <table id="table-chain-main" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                    <tr>
                        <th>Anyone Connect</th><th>Anyone Mine</th><th>Anyone Send</th><th>Mining Diversity</th><th>Target Block Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--max-std-op-return-size max-std-op-returns-count max-std-tx-size maximum-block-size	2048000-->
                    <tr>
                        <td><%=item['anyone-can-connect']%></td>
                        <td><%=item['anyone-can-mine']%></td>
                        <td><%=item['anyone-can-send']%></td>
                        <td><%=item['mining-diversity']%></td>
                        <td><%=item['target-block-time']%></td>
                    </tr>
                    </tbody>
                    <thead>
                    <tr>
                        <th>Target Adjust Freq.</th><th>Max OP Return Size</th><th>Max OP Return Count</th><th>Max TX Size</th><th>Max Block Size</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- mining-diversity protocol-version target-adjust-freq target-block-time -->
                    <tr>
                        <td><%=item['target-adjust-freq']%></td>
                        <td><%=item['max-std-op-return-size']%></td>
                        <td><%=item['max-std-op-returns-count']%></td>
                        <td><%=item['max-std-tx-size']%></td>
                        <td><%=item['maximum-block-size']%></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="mdl-card__supporting-text">
                <h4>Genesis Block</h4>
                <table id="table-chain-main" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <tbody>
                    <tr>
                        <th>Gen. Hash</th><td class="mdl-data-table__cell--non-numeric"><%=item['genesis-hash']%></td>
                    </tr>
                    <tr>
                        <th>Gen. Pubkey</th><td class="mdl-data-table__cell--non-numeric"><%=item['genesis-pubkey']%></td>
                    </tr>
                    <tr>
                        <th>Gen. Nonce</th><td class="mdl-data-table__cell--non-numeric"><%=item['genesis-nonce']%></td>
                    </tr>
                    <tr>
                        <th>Gen. Time</th><td class="mdl-data-table__cell--non-numeric"><%=item['genesis-datetime']%> (<%=item['genesis-timestamp']%>)</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

</main>

<% include views/template/footer.ejs %>