<% include views/template/header.ejs %>

<main class="mdl-layout__content">

    <% include views/template/search_area.ejs %>

    <div class="page-content mtd-page-index">

        <div class="x-overflow">
            <table id="summary_table" class="mdl-data-table match-parent">
                <thead>
                <tr>
                    <th>Blocks</th><th>TXs</th><th>Addresses</th>
                    <th>Net Hash</th><th>Difficulty</th><th>Blocktime</th>
                    <th>Streams</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="/blocks"><%=summary.blocks%></a></td>
                    <td>0</td>
                    <td>0</td>
                    <td><%=Math.floor(summary.networkhashps/1024/1024*100)/100%> MH/s</td>
                    <td><%=summary.difficulty%></td>
                    <td>0</td>
                    <td><a href="/summary">1</a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="section--center mdl-grid mdl-grid--no-spacing mtd-2-2div-header-wrapper">

            <!-- 1) Block list -->
            <div class="mdl-cell mdl-cell--5-col">
                <div class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                      <h5><i class="fas fa-cloud-download-alt"></i>&nbsp;Latest Blocks</h5>
                    </span>
                    <a class="mdl-list__item-secondary-action" href="/blocks"><button class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="fas fa-angle-double-right"></i></button></a>
                </div>
                <div id="recent-blocks" class="x-overflow mtd-main-recent-list">
                    <table class="mdl-data-table mdl-js-data-table match-parent">
                        <thead>
                        <tr>
                            <th>Height</th><th>Miner</th><th>TXNS</th><th class="confirm"><i class="far fa-check-circle"></i></th><th>Size</th><th class="time">Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(var i=0; i<blocks.length; i++) { %>
                        <tr>
                            <td><span class="label label-info"><%=blocks[i].height%></span></td>
                            <td class="left-align">
                                <a href="javascript:alert('<div class=ellipse><%=blocks[i].miner%></div><img src=https://api.qrserver.com/v1/create-qr-code/?size=232x232&data=<%=blocks[i].miner%>>');"><img src="/res/img/ic-qr.png" /></a>&nbsp;<a class="mtd-middle-chars" href="/block/<%=blocks[i].height%>"><%=blocks[i].miner%></a></td>
                            <td class="center">
                                <% if (blocks[i].txcount>1) { %>
                                    <span class="label label-info important"><%=blocks[i].txcount%></span>
                                <% } else { %>
                                    <span class="label label-info"><%=blocks[i].txcount%></span>
                                <% } %>
                            </td>
                            <td class="center confirm"><span class="label label-info"><%=blocks[i].confirmations%></span></td>
                            <td><%=Number(blocks[i].size).toLocaleString()%></td>
                            <td class="time"><i class="fas fa-arrow-down"></i><%=blocks[i].date%></td>
                        </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- 2) TX list -->
            <div class="mdl-cell mdl-cell--7-col">
                <div class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                      <h5><i class="fas fa-retweet"></i>&nbsp;Latest Transactions</h5>
                    </span>
                    <a class="mdl-list__item-secondary-action" href="/txs"><button class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="fas fa-angle-double-right"></i></button></a>
                </div>
                <div id="recent-txs" class="x-overflow mtd-main-recent-list">
                    <table class="mdl-data-table mdl-js-data-table match-parent">
                        <thead>
                        <tr>
                            <th>Type</th><th>TX ID</th><th>Amount</th><th class="confirm"><i class="far fa-check-circle"></i></th><th class="time">Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(var i=0; i<txs.length; i++) { %>
                        <tr>
                            <td>
                                <% if (txs[i].txtype==='mine') { %><span class="label label-info"><%=txs[i].txtype%></span>
                                <% } else if (txs[i].txtype==='send') { %><span class="label label-primary"><%=txs[i].txtype%></span>
                                <% } else { %><span class="label label-success"><%=txs[i].txtype%></span><% } %>
                            </td>
                            <td class="left-align mtd-txs-cell-txhash">
                                <a class="mtd-middle-chars" href="/tx/<%=txs[i].txid%>"><%=txs[i].txid%></a>
                                <br>
                                <!-- mine, memp, send -->
                                <div class="mtd-small-chars" class="ellipse" style="line-height: 16px;overflow-x: hidden;">
                                    <% if (txs[i].txtype==='send' && typeof(txs[i].vout[1])!=='undefined') { %><%=txs[i].vout[1].scriptPubKey.addresses[0]%><% } %>
                                    <% if (txs[i].txtype==='send' || txs[i].txtype==='mine') { %><i class="fas fa-arrow-right"></i> <%=txs[i].vout[0].scriptPubKey.addresses[0]%><% } %>
                                </div>
                            </td>
                            <td class="mtd-text-right">
                                <% if (txs[i].txtype!=='memp') { %>
                                <% if (typeof(txs[i].vout)!=='undefined' && typeof(txs[i].vout[0].value)!=='undefined') { %><%=txs[i].vout[0].value%><% } %> KAI
                                <% } %>
                            </td>
                            <td class="center confirm"><% if (txs[i].txtype!=='memp') { %><span class="label label-info"><%=txs[i].confirmations%></span><% } %></td>
                            <td class="time"><i class="fas fa-arrow-down"></i><%=txs[i].date%></td>
                        </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</main>

<% include views/template/footer.ejs %>