<% include views/template/header.ejs %>

<main class="mdl-layout__content mtd-page-summ">

    <% include views/template/search_area.ejs %>

    <div class="mdl-grid">

        <header></header>

        <div class="mdl-card mtd-pad-verttop match-parent">

            <div class="mdl-card__supporting-text">

                <div class="mtd-card-title-wrapper">
                    <h4>Summary</h4><div class="mtd-title-page-nav"></div>
                </div>

                <table id="table-chain-main" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                    <tr>
                        <th>Chain name</th><th>Peers</th><th>Testnet</th><th>Protocol Version</th><th>Wallet Ver.</th><th>Wallet DB Ver.</th><th>Burn Address</th><th>Relay Fee</th><th>Pay TX Fee</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><%=item.chainname%></td>
                        <td><%=item.connections%></td>
                        <td><%=item.testnet%></td>
                        <td><%=item.protocolversion%></td>
                        <td><%=item.walletversion%></td>
                        <td><%=item.walletdbversion%></td>
                        <td><a href="javascript:alert('<div class=ellipse><%=item.burnaddress%></div><img src=https://api.qrserver.com/v1/create-qr-code/?size=232x232&data=<%=item.burnaddress%>>');"><img src="/res/img/ic-qr.png" /></a>&nbsp;<%=item.burnaddress%></td>
                        <td><%=item.relayfee%></td>
                        <td><%=item.paytxfee%></td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <div class="mdl-card__supporting-text">

                <div class="mtd-card-title-wrapper">
                    <h4>Parameters</h4><div class="mtd-title-page-nav"></div>
                </div>

                <table id="table-chain-main" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                    <tr>
                        <th>Anyone Connect</th><th>Anyone Mine</th><th>Anyone Send</th><th>Mining Diversity</th><th>Target Block Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--max-std-op-return-size max-std-op-returns-count max-std-tx-size maximum-block-size	2048000-->
                    <tr>
                        <td><%=item['anyone-can-connect']%></td>
                        <td><%=item['anyone-can-mine']%></td>
                        <td><%=item['anyone-can-send']%></td>
                        <td><%=item['mining-diversity']%></td>
                        <td><%=item['target-block-time']%></td>
                    </tr>
                    </tbody>
                    <thead>
                    <tr>
                        <th>Target Adjust Freq.</th><th>Max OP Return Size</th><th>Max OP Return Count</th><th>Max TX Size</th><th>Max Block Size</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- mining-diversity protocol-version target-adjust-freq target-block-time -->
                    <tr>
                        <td><%=item['target-adjust-freq']%></td>
                        <td><%=item['max-std-op-return-size']%></td>
                        <td><%=item['max-std-op-returns-count']%></td>
                        <td><%=item['max-std-tx-size']%></td>
                        <td><%=item['maximum-block-size']%></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="mdl-card__supporting-text">

                <div class="mtd-card-title-wrapper">
                    <h4>Genesis Block</h4><div class="mtd-title-page-nav"></div>
                </div>

                <table id="table-chain-main" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <tbody>
                    <tr>
                        <th>Hash</th><td class="mdl-data-table__cell--non-numeric"><%=item['genesis-hash']%></td>
                    </tr>
                    <tr>
                        <th>Pubkey</th><td class="mdl-data-table__cell--non-numeric"><%=item['genesis-pubkey']%></td>
                    </tr>
                    <tr>
                        <th>Nonce</th><td class="mdl-data-table__cell--non-numeric"><%=item['genesis-nonce']%></td>
                    </tr>
                    <tr>
                        <th>Time</th><td class="mdl-data-table__cell--non-numeric"><%=item['genesis-datetime']%> (<%=item['genesis-timestamp']%>)</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="mdl-card__actions mdl-card--border">
                <div class="mtd-button-wrapper">
                    <a href="/"><button class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="fas fa-arrow-up"></i>&nbsp;HOME</button></a>
                </div>
            </div>
        </div>

    </div>

</main>

<% include views/template/footer.ejs %>

<!-- {"chain":"test","chainname":"kaicoin","description":"MultiChain kaicoin","protocol":"multichain",
                "setupblocks":100000,"reindex":false,"blocks":181834,"headers":181834,
                "bestblockhash":"0000000078ff75730383449d01556242abeb4f027806266852c055321a288dc9","difficulty":1.16363927,
                "verificationprogress":1,"chainwork":"0000000000000000000000000000000000000000000000000001a18a444c0286",
                "chain-protocol":"multichain","chain-description":"MultiChain kaicoin","root-stream-name":"root","root-stream-open":true,
                "chain-is-testnet":true,"target-block-time":60,"maximum-block-size":2048000,"default-network-port":7777,
                "default-rpc-port":8888,"anyone-can-connect":true,"anyone-can-send":true,"anyone-can-receive":true,
                "anyone-can-receive-empty":true,"anyone-can-create":true,"anyone-can-issue":false,"anyone-can-mine":true,
                "anyone-can-activate":false,"anyone-can-admin":false,"support-miner-precheck":true,"allow-arbitrary-outputs":false,
                "allow-p2sh-outputs":true,"allow-multisig-outputs":true,"setup-first-blocks":100000,"mining-diversity":0.3,
                "admin-consensus-upgrade":0.5,"admin-consensus-admin":0.5,"admin-consensus-activate":0.5,"admin-consensus-mine":0.5,
                "admin-consensus-create":0,"admin-consensus-issue":0,"lock-admin-mine-rounds":10,"mining-requires-peers":false,
                "mine-empty-rounds":-1,"mining-turnover":0.5,"first-block-reward":110000000000000000,"initial-block-reward":95000000000,
                "reward-halving-interval":525600,"reward-spendable-delay":1,"minimum-per-output":0,"maximum-per-output":210000000000000000,
                "minimum-relay-fee":1000,"native-currency-multiple":100000000,"skip-pow-check":false,"pow-minimum-bits":24,
                "target-adjust-freq":302400,"allow-min-difficulty-blocks":false,"only-accept-std-txs":true,"max-std-tx-size":100000,
                "max-std-op-returns-count":10,"max-std-op-return-size":409,"max-std-op-drops-count":5,"max-std-element-size":8192,
                "chain-name":"kaicoin","protocol-version":10009,"network-message-start":"f0d8c5f4","address-pubkeyhash-version":"00b1b7c6",
                "address-scripthash-version":"054cb0bf","private-key-version":"80bab17c","address-checksum-value":"347b8d06",
                "genesis-pubkey":"021c8505f16859a7157673b11733b159cce53ca7513c28b5cb6644da5989e37631","genesis-version":1,
                "genesis-timestamp":1512098611,"genesis-nbits":503382015,"genesis-nonce":1851702,
                "genesis-pubkey-hash":"4d5f475c1190ee52d25ab9854300a944a8e5726b",
                "genesis-hash":"0000007854da355083001986f2c5576bec0ffd85e1012a0c27ffa1baa44c3289",
                "chain-params-hash":"ef05dc468a42422b26631fc56b4c5430b6099dbc5b5019681b4364542a8e6991","version":"1.0.4",
                "nodeversion":10004901,"protocolversion":10009,"port":7777,"nodeaddress":"kaicoin@192.168.35.119:7777",
                "burnaddress":"1XXXXXXXFtXXXXXXfGXXXXXXYfXXXXXXYpfVVa","incomingpaused":false,"miningpaused":false,"walletversion":60000,
                "balance":17250.00006964,"walletdbversion":2,"timeoffset":0,"connections":7,"proxy":"","testnet":true,
                "keypoololdest":1520657526,"keypoolsize":2,"paytxfee":0,"relayfee":0.00001,"errors":""} -->