<% include views/template/header.ejs %>

<main class="mdl-layout__content mtd-page-summ">

    <% include views/template/search_area.ejs %>

    <div class="mdl-grid">

        <header></header>

        <div class="mdl-card mtd-pad-verttop match-parent">

            <!-- Issue & distribution -->
            <div class="mdl-card__supporting-text">

                <div class="mtd-card-title-wrapper">
                    <h4>Summary</h4><div class="mtd-title-page-nav"></div>
                </div>
                <div class="x-overflow">
                <table id="table-chain-coded" class="mdl-data-table mdl-js-data-table">
                    <thead>
                    <tr>
                        <th>Max Supply</th><th>Circulating Supply</th>
                        <th>Block Height</th><th>TX Count</th>
                        <th>Block Reward</th><th>Total Network Hash</th>
                        <th>Difficulty</th><th>Peers</th>
                        <th>Relay Fee</th><th>Pay TX Fee</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="center"><%=Number(item["maximum-per-output"]/item["native-currency-multiple"]).toLocaleString()%></td>
                        <td class="center"><%=Number(item["first-block-reward"]/item["native-currency-multiple"]).toLocaleString()%></td>
                        <td class="center"><%=Number(item.blocks).toLocaleString()%></td>
                        <td class="center"><%=Number(item.txcount).toLocaleString()%></td>
                        <td class="center">950 KAI</td>
                        <td class="center"><%=Math.floor(item.networkhashps/1024/1024*100)/100%> MH/s</td>
                        <td class="center"><%=Math.floor(item.difficulty*10000)/10000%></td>
                        <td class="center"><%=item.connections%></td>
                        <td class="center"><%=item.relayfee%></td>
                        <td class="center"><%=item.paytxfee%></td>
                        <!-- allow-multisig-outputs
                            reward-halving-interval
                            mining-turnover
                            initial-block-reward
                            first-block-reward
                            Initial Supply: first-block-reward/native-currency-multiple
                            Total Supply: maximum-per-output/native-currency-multiple
                            Block Reward: first-block-reward/native-currency-multiple
                            -->
                    </tr>
                    </tbody>
                </table>
                </div>
                <br>

                <!-- Market Value -->
                <div class="mtd-card-title-wrapper">
                    <h4>Market Value</h4><div class="mtd-title-page-nav"></div>
                </div>
                <div class="mtd-middle-top-wrapper x-overflow">
                    <iframe id='widget-ticker-preview' src='//www.coingecko.com/en/widget_component/ticker/kaicoin/btc?id=kaicoin' style='border:none; height:125px; width: 275px;' scrolling='no' frameborder='0' allowTransparency='true'></iframe>
                    <table id="mtd-market-cap" class="mdl-data-table mdl-js-data-table">
                        <thead>
                        <tr>
                            <th>Market Cap in USD</th><th>Price in USD</th><th>Price in BTC</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="3" class="center">Currently Not Available, preparing now.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <br>

                <!-- horizontal divider -->
                <div class="mdl-grid mtd-2-cols-wrapper">

                    <!-- first column: Chain properties -->
                    <div class="mdl-cell mdl-cell--7-col mdl-cell--4-col-phone">

                        <div class="mtd-card-title-wrapper">
                            <h4>Properties</h4><div class="mtd-title-page-nav"></div>
                        </div>

                        <div class="x-overflow">
                        <table class="mdl-data-table mdl-js-data-table mtd-summary-table">
                            <tbody>
                            <tr>
                                <th>Chain name</th>
                                <td class="mdl-data-table__cell--non-numeric"><%=item.chainname%></td>
                            </tr>
                            <tr>
                                <th>Testnet</th>
                                <td class="mdl-data-table__cell--non-numeric"><%=item.testnet%></td>
                            </tr>
                            <tr>
                                <th>Protocol Version</th>
                                <td class="mdl-data-table__cell--non-numeric"><%=item.protocolversion%></td>
                            </tr>
                            <tr>
                                <th>Wallet Version</th>
                                <td class="mdl-data-table__cell--non-numeric"><%=item.walletversion%></td>
                            </tr>
                            <tr>
                                <th>Wallet DB Version</th>
                                <td class="mdl-data-table__cell--non-numeric"><%=item.walletdbversion%></td>
                            </tr>
                            <tr>
                                <th>Burn Address</th>
                                <td class="mdl-data-table__cell--non-numeric mtd-work-break"><a href="javascript:app.showQRPopup('<%=item.burnaddress%>', '<%=item.burnaddress%>');"><img src="/res/img/ic-qr.png" /></a>&nbsp;<%=item.burnaddress%></td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                        <br>

                        <!-- Genesis block info. -->
                        <div class="mtd-card-title-wrapper">
                            <h4>Genesis Block</h4><div class="mtd-title-page-nav"></div>
                        </div>

                        <table class="mdl-data-table mdl-js-data-table mtd-summary-table">
                            <tbody>
                            <tr>
                                <th>Public Key</th><td class="mdl-data-table__cell--non-numeric mtd-work-break"><%=item['genesis-pubkey']%></td>
                            </tr>
                            <tr>
                                <th>Public Key Hash</th><td class="mdl-data-table__cell--non-numeric mtd-work-break"><%=item['genesis-hash']%></td>
                            </tr>
                            <tr>
                                <th>Nonce</th><td class="mdl-data-table__cell--non-numeric"><%=item['genesis-nonce']%></td>
                            </tr>
                            <tr>
                                <th>Nbits</th><td class="mdl-data-table__cell--non-numeric"><%=item['genesis-nbits']%></td>
                            </tr>
                            <tr>
                                <th>Time</th><td class="mdl-data-table__cell--non-numeric"><%=item['genesis-datetime']%> (<%=item['genesis-timestamp']%>)</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- second column: chain configuration parameters -->
                    <div class="mdl-cell mdl-cell--5-col">

                        <div class="mtd-card-title-wrapper mtd-title-summary-param">
                            <h4>Parameters</h4><div class="mtd-title-page-nav"></div>
                        </div>

                        <table class="mdl-data-table mdl-js-data-table mtd-summary-table">
                            <tbody>
                            <tr>
                                <th>Target Adjust Frequency</th>
                                <td class="mdl-data-table__cell--non-numeric"><%=Number(item['target-adjust-freq']).toLocaleString()%></td>
                            </tr>
                            <tr>
                                <th>Max Transaction Size</th>
                                <td class="mdl-data-table__cell--non-numeric"><%=Number(item['max-std-tx-size']).toLocaleString()%></td>
                            </tr>
                            <tr>
                                <th>Max OP Return Count</th>
                                <td class="mdl-data-table__cell--non-numeric"><%=item['max-std-op-returns-count']%></td>
                            </tr>
                            <tr>
                                <th>Max OP Return Size</th>
                                <td class="mdl-data-table__cell--non-numeric"><%=Number(item['max-std-op-return-size']).toLocaleString()%></td>
                            </tr>
                            <tr>
                                <th>Target Block Time</th>
                                <td class="mdl-data-table__cell--non-numeric"><%=item['target-block-time']%></td>
                            </tr>
                            <tr>
                                <th>Max Block Size</th>
                                <td class="mdl-data-table__cell--non-numeric"><%=Number(item['maximum-block-size']).toLocaleString()%></td>
                            </tr>
                            <tr>
                                <th>Mining Diversity</th>
                                <td class="mdl-data-table__cell--non-numeric"><%=item['mining-diversity']%></td>
                            </tr>
                            <tr>
                                <th>Anyone Connect</th>
                                <td class="mdl-data-table__cell--non-numeric"><%=item['anyone-can-connect']%></td>
                            </tr>
                            <tr>
                                <th>Anyone Receive</th>
                                <td class="mdl-data-table__cell--non-numeric"><%=item['anyone-can-receive']%></td></td>
                            </tr>
                            <tr>
                                <th>Anyone Send</th>
                                <td class="mdl-data-table__cell--non-numeric"><%=item['anyone-can-send']%></td>
                            </tr>
                            <tr>
                                <th>Anyone Mine</th>
                                <td class="mdl-data-table__cell--non-numeric"><%=item['anyone-can-mine']%></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <!-- about developers -->
                <div class="mtd-card-title-wrapper">
                    <h4>About</h4><div class="mtd-title-page-nav"></div>
                </div>

                <div class="mtd-summary-about" style="clear: both;">
                    <p>Kaicoin Explorer is an open-source blockchain explorer.</p>
                    <p>This project is still in progress. Please send your comments to Github if you have any inconvenience in using explorer.</p>
                    <br>
                    <p>Kaicoin Explorer is powered by: </p>
                    <ul id="mtd-powered-by" class="mdl-list">
                        <li class="mdl-list__item"><img src="/res/img/powered/ic-node-js.png"></li>
                        <li class="mdl-list__item"><img src="/res/img/powered/ic-fastify.png"></li>
                        <li class="mdl-list__item"><img src="/res/img/powered/ic-socket-io.png"></li>
                        <li class="mdl-list__item"><img src="/res/img/powered/ic-rethinkdb.png"></li>
                    </ul>
                    <p>Thanks to our <a href="https://github.com/Tilkal/multichain-api" target="_blank">multichain-api</a> module contributors, too.</p>
                    <p>You can find the source code <a href="https://github.com/kaicoin-io/kaicoin-explorer" target="_blank">here</a>.</p>
                </div>
            </div>

            <div class="mdl-card__actions mdl-card--border">
                <div class="mtd-button-wrapper">
                    <a href="/"><button class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="fas fa-arrow-up"></i>&nbsp;HOME</button></a>
                </div>
            </div>

        </div>

    </div>

    <% include views/template/footer.ejs %>

</main>


<!-- {"chain":"test","chainname":"kaicoin","description":"MultiChain kaicoin","protocol":"multichain",
                "setupblocks":100000,"reindex":false,"blocks":181834,"headers":181834,
                "bestblockhash":"0000000078ff75730383449d01556242abeb4f027806266852c055321a288dc9","difficulty":1.16363927,
                "verificationprogress":1,"chainwork":"0000000000000000000000000000000000000000000000000001a18a444c0286",
                "chain-protocol":"multichain","chain-description":"MultiChain kaicoin","root-stream-name":"root","root-stream-open":true,
                "chain-is-testnet":true,"target-block-time":60,"maximum-block-size":2048000,"default-network-port":7777,
                "default-rpc-port":8888,"anyone-can-connect":true,"anyone-can-send":true,"anyone-can-receive":true,
                "anyone-can-receive-empty":true,"anyone-can-create":true,"anyone-can-issue":false,"anyone-can-mine":true,
                "anyone-can-activate":false,"anyone-can-admin":false,"support-miner-precheck":true,"allow-arbitrary-outputs":false,
                "allow-p2sh-outputs":true,"allow-multisig-outputs":true,"setup-first-blocks":100000,"mining-diversity":0.3,
                "admin-consensus-upgrade":0.5,"admin-consensus-admin":0.5,"admin-consensus-activate":0.5,"admin-consensus-mine":0.5,
                "admin-consensus-create":0,"admin-consensus-issue":0,"lock-admin-mine-rounds":10,"mining-requires-peers":false,
                "mine-empty-rounds":-1,"mining-turnover":0.5,"first-block-reward":110000000000000000,"initial-block-reward":95000000000,
                "reward-halving-interval":525600,"reward-spendable-delay":1,"minimum-per-output":0,"maximum-per-output":210000000000000000,
                "minimum-relay-fee":1000,"native-currency-multiple":100000000,"skip-pow-check":false,"pow-minimum-bits":24,
                "target-adjust-freq":302400,"allow-min-difficulty-blocks":false,"only-accept-std-txs":true,"max-std-tx-size":100000,
                "max-std-op-returns-count":10,"max-std-op-return-size":409,"max-std-op-drops-count":5,"max-std-element-size":8192,
                "chain-name":"kaicoin","protocol-version":10009,"network-message-start":"f0d8c5f4","address-pubkeyhash-version":"00b1b7c6",
                "address-scripthash-version":"054cb0bf","private-key-version":"80bab17c","address-checksum-value":"347b8d06",
                "genesis-pubkey":"021c8505f16859a7157673b11733b159cce53ca7513c28b5cb6644da5989e37631","genesis-version":1,
                "genesis-timestamp":1512098611,"genesis-nbits":503382015,"genesis-nonce":1851702,
                "genesis-pubkey-hash":"4d5f475c1190ee52d25ab9854300a944a8e5726b",
                "genesis-hash":"0000007854da355083001986f2c5576bec0ffd85e1012a0c27ffa1baa44c3289",
                "chain-params-hash":"ef05dc468a42422b26631fc56b4c5430b6099dbc5b5019681b4364542a8e6991","version":"1.0.4",
                "nodeversion":10004901,"protocolversion":10009,"port":7777,"nodeaddress":"kaicoin@192.168.35.119:7777",
                "burnaddress":"1XXXXXXXFtXXXXXXfGXXXXXXYfXXXXXXYpfVVa","incomingpaused":false,"miningpaused":false,"walletversion":60000,
                "balance":17250.00006964,"walletdbversion":2,"timeoffset":0,"connections":7,"proxy":"","testnet":true,
                "keypoololdest":1520657526,"keypoolsize":2,"paytxfee":0,"relayfee":0.00001,"errors":""} -->