<% include views/template/header.ejs %>

<!--// blockhash, txid, fromaddress, toaddress, value, confirmations, time, date, txtype": "mine" -->
<main class="mdl-layout__content mtd-page-tx">

    <% include views/template/search_area.ejs %>

    <div class="mdl-grid">

        <header></header>

        <div class="mdl-card mtd-pad-verttop">

            <div class="mdl-card__supporting-text">

                <div class="mtd-card-title-wrapper">
                    <h4>Transaction&nbsp;<span id="current-position"><%=item.txid%></span></h4>
                </div>

                <div class="x-overflow">
                <table id="table-chain-main" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <tbody>
                    <tr>
                        <th>TX Type</th><td class="mdl-data-table__cell--non-numeric">
                            <% if (item.txtype==='mine') { %><span class="label label-info"><%=item.txtype%></span>
                            <% } else if (item.txtype==='send') { %><span class="label label-primary"><%=item.txtype%></span>
                            <% } else { %><span class="label label-success"><%=item.txtype%></span><% } %>
                        </td>
                        <th>TX Time</th><td class="mdl-data-table__cell--non-numeric"><% if (typeof(item.time)!=='undefined') { %><%=item.date%> (<%=item.time%>)<% } else { %>N/A<% } %></td>
                    </tr>
                    <tr>
                        <th>Confirmations</th><td class="mdl-data-table__cell--non-numeric"><span class="label label-info"><% if(typeof(item.confirmations)!=='undefined') { %><%=item.confirmations%><% } else { %>0<% } %></span></td>
                        <th>Amount</th><td class="mdl-data-table__cell--non-numeric"><%=Number(item.value).toLocaleString()%> KAI</td>
                    </tr>
                    <tr>
                        <th>Block Hash</th><td colspan="3" class="mdl-data-table__cell--non-numeric"><% if(typeof(item.blockhash)!=='undefined') { %><a href="/block/<%=item.blockhash%>"><%=item.blockhash%></a><% } else { %>N/A<% } %></td>
                    </tr>
                    <tr>
                        <th>TX ID</th><td colspan="3" class="mdl-data-table__cell--non-numeric"><%=item.txid%></td>
                    </tr>
                    <tr>
                        <th>From Address</th><td colspan="3" class="mdl-data-table__cell--non-numeric">
                            <% if(typeof(item.fromaddress)!=='undefined') { %><a href="javascript:app.showQRPopup('<%=item.fromaddress%>', '<%=item.fromaddress%>');"><img src="/res/img/ic-qr.png" /> <a href="#"><%=item.fromaddress%></a><% } else { %>N/A<% } %>
                        </td>
                    </tr>
                    <tr>
                        <th>To Address</th>
                        <td colspan="3" class="mdl-data-table__cell--non-numeric">
                            <a href="javascript:app.showQRPopup('<%=item.toaddress%>', '<%=item.toaddress%>');"><img src="/res/img/ic-qr.png" /></a>&nbsp;<a href="#"><%=item.toaddress%></a></td>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>

            <div class="mdl-card__actions mdl-card--border">
                <div class="mtd-button-wrapper">
                    <a href="/"><button class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="fas fa-arrow-up"></i>&nbsp;HOME</button></a>
                    <a <% if(typeof(item.previousblockhash)!='undefined'){ %> href="/tx/<%=item.previousblockhash%>"<% } else { %> href="javascript:void(0);"<% } %>>
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect"<% if(typeof(item.previousblockhash)=='undefined'){ %> disabled<% } %>><i class="material-icons">keyboard_arrow_left</i>PREV</button></button>
                    </a>
                    <a <% if(typeof(item.nextblockhash)!='undefined'){ %> href="/tx/<%=item.nextblockhash%>"<% } else { %> href="javascript:void(0);"<% } %>>
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect"<% if(typeof(item.nextblockhash)=='undefined'){ %> disabled<% } %>>NEXT<i class="material-icons">keyboard_arrow_right</i></button>
                    </a>
                    <a href="/txs"><button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--kaicoin"><i class="material-icons">list</i>&nbsp;LIST</button></a>
                </ul>
            </div>
        </div>

    </div>

</main>

<% include views/template/footer.ejs %>