<% include views/template/header.ejs %>

<!-- block height / miner / txns / age(ago) / fee used -->
<main class="mdl-layout__content mtd-page-tx">

    <% include views/template/search_area.ejs %>

    <div class="mdl-grid">

        <header></header>

        <div class="mdl-card mtd-pad-verttop">

            <div class="mdl-card__supporting-text">

                <div class="mtd-card-title-wrapper">
                    <h4>Transactions&nbsp;</h4><div class="mtd-title-page-nav"><span id="current-position"><%=count%></span> of <%=count%></div>
                </div>

                <div class="x-overflow">
                <table id="mtd-txs-table" class="mdl-data-table mdl-js-data-tablematch-parent mdl-shadow--2dp">
                    <thead>
                    <tr>
                        <th>Type</th><th>Confirm</th><th>TX ID</th><th>Transactions (from <i class="fas fa-arrow-right"></i> to)</th><th>Amount</th><th>Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% if (typeof(list)==='undefined'||list.length<1) { %>
                        <tr><td colspan="8" class="mtd-td-empty">EMPTY TRANSACTION DATA</td></tr>
                    <% } else { %>
                        <% for(var i=0; i<list.length; i++) { %>
                        <tr>
                            <td>
                                <% if (list[i].txtype==='mine') { %><span class="label label-info"><%=list[i].txtype%></span>
                                <% } else if (list[i].txtype==='send') { %><span class="label label-primary"><%=list[i].txtype%></span>
                                <% } else { %><span class="label label-success"><%=list[i].txtype%></span><% } %>
                            </td>
                            <td class="center"><span class="label label-info"><%=list[i].confirmations%></span></td>
                            <td class="mdl-data-table__cell--non-numeric"><a class="mtd-middle-chars ellipse" href="/tx/<%=list[i].txid%>"><%=list[i].txid%></a></td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <% if (list[i].txtype==='send' && typeof(list[i].vout[1])!=='undefined') { %>
                                    <div><a class="mtd-middle-chars ellipse" href="#"><%=list[i].vout[1].scriptPubKey.addresses[0]%></a></div>
                                <% } %>
                                <% if ((list[i].txtype==='send' || list[i].txtype==='mine') && typeof(list[i].vout[0])!=='undefined') { %>
                                    <div>
                                        <i class="fas fa-arrow-right"></i>&nbsp;<a class="mtd-middle-chars ellipse" href="#"><%=list[i].vout[0].scriptPubKey.addresses[0]%></a>
                                    </div>
                                <% } %>
                            </td>
                            <td class="mtd-text-right">
                                <% if (typeof(list[i].vout)!=='undefined' && typeof(list[i].vout[0].value)!=='undefined') { %><%=Number(list[i].vout[0].value).toLocaleString()%><% } %> KAI
                            </td>
                            <td class="left"><i class="fas fa-arrow-down"></i>&nbsp;<%=list[i].date%></td>
                        </tr>
                        <% } %>
                    <% } %>
                    </tbody>
                </table>
                </div>
                <br>
                <div class="mdl-card__actions mdl-card--border">
                    <button class="mdl-button mdl-js-button mdl-button--primary mtd-button-no-border">TXs at</button>
                    <a href="/" style="float: right;"><button class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="fas fa-arrow-up"></i>&nbsp;HOME</button></a>
                    <div style="width: calc(100% - 220px); float: right; padding-right: 12px;">
                        <p class="range-field"><input id="pagenation-txs" type="range" class="mtd-pagination" min="0" max="<%=count%>" value="<%=count%>" /></p>
                    </div>
                </div>

            </div>
        </div>

    </div>

</main>

<% include views/template/footer.ejs %>