<% include views/template/header.ejs %>

<!-- block height / miner / txns / age(ago) / fee used -->
<main class="mdl-layout__content">
    <% include views/template/search_area.ejs %>
    <section class="section--center mdl-grid mdl-grid--no-spacing">
        <header class="mtd-table-txs mdl-cell mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone mdl-color-text--white">
        </header>
        <div class="mdl-card mdl-cell mdl-cell--10-col-desktop mdl-cell--10-col-tablet mdl-cell--10-col-phone mtd-pad-verttop">
            <div class="mdl-card__supporting-text">
                <h4>Transactions</h4>
                <table class="mdl-data-table mdl-js-data-table match-parent-table mdl-shadow--2dp">
                    <thead>
                    <tr>
                        <th>Type</th><th>Confirm</th><th>TX ID</th><th>From</th><th>To</th><th>Amount</th><th>Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% if (typeof(list)==='undefined'||list.length<1) { %>
                        <tr><td colspan="8" class="mtd-td-empty">EMPTY TRANSACTION DATA</td></tr>
                    <% } else { for(var i=0; i<list.length; i++) { %>
                    <tr>
                        <td>
                            <% if (list[i].txtype==='mine') { %><span class="label label-info"><%=list[i].txtype%></span>
                            <% } else if (list[i].txtype==='send') { %><span class="label label-primary"><%=list[i].txtype%></span>
                            <% } else { %><span class="label label-success"><%=list[i].txtype%></span><% } %>
                        </td>
                        <td><span class="label label-info"><%=list[i].confirmations%></span></td>
                        <td class="mdl-data-table__cell--non-numeric"><a class="mtd-middle-chars ellipse" href="/block/<%=list[i].txid%>"><%=list[i].txid%></a></td>
                        <td class="mdl-data-table__cell--non-numeric">
                            <a class="mtd-middle-chars ellipse" href="/address/<%=list[i].miner%>">
                                <% if (list[i].txtype==='send' && typeof(list[i].vout[1])!=='undefined') { %>From: <%=list[i].vout[1].scriptPubKey.addresses[0]%><% } %>
                            </a>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                            <% if (list[i].txtype==='send' || list[i].txtype==='mine') { %><%=list[i].vout[0].scriptPubKey.addresses[0]%><% } %>
                        </td>
                        <td><%=list[i].size%></td>
                        <td><%=list[i].date%></td>
                    </tr>
                    <% } }%>
                    </tbody>
                </table>
                <br>
                <div class="mtd-slider-pager">
                    <!-- Default Slider -->
                    <div><button class="mdl-button mdl-js-button">PAGES</button></div><input class="mdl-slider mdl-js-slider" type="range" min="0" max="<%=summary.blocks%>" value="<%=summary.blocks%>" tabindex="0">
                </div>
            </div>
        </div>
    </section>

</main>

<% include views/template/footer.ejs %>